.button-container {
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
}

.button-container:hover, .button-container:focus {
    /* background-color: var(--powder-blue) !important; */
    opacity:90%;
}