.button-container {
    height: 50px;
    width: 220px;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    background-color: var(--delft-blue);
}

.button-container:hover {
    background-color: var(--powder-blue);
}