.nav-container {
    display: flex;
    justify-content: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
}

.nav-container button {
    position: absolute;
    border: none;
    border-radius: 100%;
    top: calc(10% - 35px);
    left: calc(50% - 18px);
    height: 70px;
    width: 70px;
    cursor: pointer;
    pointer-events: auto;
}

.nav-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white); 
}

.nav-container > ul {
    position: absolute;
    top: 15vw;
    height: 50vw;
    gap: 18px;
    pointer-events: auto;
}


.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    pointer-events: auto;
}

.nav-link {
    cursor: pointer;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    color: var(--black)
}


