

.chat-container {
    height: 100vh;
    width: 100vw;
    background-color: var(--delft-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    font-family: 'Maven Pro', sans-serif;
}

.chat-boxes {
    display: flex;
    width: min(88%, 1500px);
    height: max(80%, 500px);
    align-items: center;
}

.user-info {
    position: relative;
    height: 100%;
    flex-grow: 1;
    margin: 25px;
}

.user-background {
    position: absolute;
    background-color: var(--white);
    opacity: 10%;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    mix-blend-mode: normal;
    filter: drop-shadow(8px 10px 0px #000);
}

.user-info-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 120px 5px 50px;
    text-align: center;
    font-weight: 300;
    color: var(--white);
}

.user-avatar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100%;
    flex-grow: 2;
    width: 100%;
}

.user-avatar img {
    position: absolute;
    top: calc(-150px + 12vh);
    width: 120px;
    border-radius: 100%;
}

.user-avatar form {
    position: absolute;
    top: calc(-150px + 12vh);
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.user-avatar input {
    display: none;
}

.user-avatar label {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    border-radius: 100%;
    cursor: pointer;
}

.user-avatar label:hover {
    background-color: var(--black);
    opacity: 30%;
}

.user-avatar label ~ img {
    top: 47px;
    left: 47px;
    position: absolute;
    height: 30px;
    width: 30px;
    visibility: hidden;
    pointer-events: none;
}

.user-avatar label:hover ~ img {
    visibility: visible;
}

.user-name {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    
}

.user-name h2 {
    font-weight: 800;
    margin: 10px;
    font-size: 26px;
}

.user-stats {
    flex-grow: 1;
    
}

.user-stats h4 {
    font-weight: 600;
    margin: 3px;
}

.user-stats span {
    display: block;
}

.user-logout {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.chat-thread {
    position: relative;
    flex-grow: 3;
    height: 100%;
    margin: 40px;
}

.chat-background {
    position: absolute;
    background: var(--white);
    height: 100%;
    width: 100%;
    opacity: 15%;
    border-radius: 20px;
    filter: drop-shadow(8px 10px 0px #000);
}

.chat-thread-text {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 60px 80px 0px 45px;
    overflow-y: scroll;
}

.chat-post {
    position: relative;
    width: 100%;
    color: var(--white);
    white-space: pre-line;
}

.chat-post > header {
    display: flex;
    align-items: center;
}


.chat-post img {
    border-radius: 100%;
    max-width: 70px;
}

.post-user {
    padding-left: 20px;
    font-weight: 700;
}

.post-date {
    position: absolute;
    top: 25px;
    right: 0;
    font-size: smaller;
    opacity: 75%;
}

.chat-post > body {
    padding-left: 90px;
    font-weight: 300;
    font: inherit;
}


.chat-post::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 0.5px;
    margin: 25px 0;
    background-color: var(--black);
    opacity: 50%;
}

@media (max-width: 1100px) {
    .user-info {
        display: none;
    }
}