.post-input {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-self: center;
    resize: none;
    height: 220px;
    width: calc(100% - 90px);
    padding: 10px;
    border-radius: 15px;
    margin: 30px 45px;
    font-size: 18px;
    background: rgb(200, 200, 200, 0.2);
    color: black ;
}

.post-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 10px 45px;
    height: 100%;
}

.post-footer img {
    height: 100px;
    width: 100px;
}

.post-footer-buttons {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}