.home-page {
    height: max(100vh, 1000px);
    width: 100vw;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: url(../assets/castle.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-y:auto;
}

.home-title {
    position: absolute;
    top: 45%;
}

.home-content {
    position: absolute;
    top: 45vh;
    left: 12vw;
}

.home-content > span {
    color: black;
    font-size: 36px;
}

#title {
    color: white;
    font-size: 78px;
    font-weight: 700;
}
