.navbar-container {
  height: max(8vh, 60px);
  display: flex;
  justify-content:space-between;
  
}

.navbar-button > h2{
  align-self: center;
  margin: 0;
  font-weight: bold;
}

.navbar-button{
  margin-left: 3vw;
  color: var(--dark-blue);
  display: flex;
}

.navbar-links {
  width: 50%;
  height: 100%;
}

.navbar-menu {
  list-style: none;
  margin-right: 6vw;
  margin-bottom: 0;
  height: 100%;
  align-items: center;
  justify-content: end;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: min(10%, 5vw);
}

.navbar-item {
  font-size: 32px;
}

.navbar-link {
  color: var(--dark-yellow);
  font-weight: 500;
  text-decoration: none;
}

.navbar-link:hover{
  color: var(--black)
}

@media screen and (max-width: 950px){
  .navbar-item{
    font-size: 24px;
  }

  .navbar-menu {
    grid-gap: min(10px);
  }
}