form{
  width: 80%;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  justify-self: center;
  margin: 20px;
}

.reg-container > h2{
  align-self: start
}


.registration-link{
  align-self: start;
  color: var(--dark-blue);
  font-size: 12px;
  text-decoration-line: none;
}

.reg-control{
  border: none;
  background-color: white;
  margin: auto;
  width: 90%;
}

.reg-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.reg-control:focus{
  outline: none;
  border: none;
}

.reg-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 18px;
  border: 1px solid var(--black);
  margin: 7px;
  width: 80%;
  height: 40px;
  background-color: white;
}

.reg-button{
  border-radius: 35px;
  border: 1px solid var(--black);
  margin: 5px;
  margin-top: 45px;
  width: 80%;
  height: 51px;
  background-color: var(--dark-blue);
  color: white;
  
}


.reg-button:hover{
  opacity: 85%;
}

.reg-alert{
  color: red
}

label{
  font-weight: 500;
}